* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    background: #e8e8e8;
}

#A {
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 999px;
    border: 2px solid #000000;
    background: #FEFEFF;
    box-shadow: 0 0 12px rgba(19, 19, 19, 0.48);

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
            font-weight: bold;
            color: #000000;
        }

        svg {
            width: 24px;
            fill: #ffffff;
            background: #34373b;
        }
    }

    nav {
        display: flex;

        .link {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 3px;

            a {
                color: #000000;
            }

            svg {
                width: 16px;
                fill: #000;
            }

            &:hover {
                background: #000000;

                a  {
                    color: #ffffff;
                }

                svg {
                    fill: #fff;
                }
            }
        }

        .link.active {
            background: #000000;

            a {
                color: #fff;
            }

            svg {
                fill: #fff;
            }
        }
    }
}

#B {
    width: 1080px;
    height: 60px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 999px;

    background: #f8f8f8;
    box-shadow:
            0 4px 8px rgba(144, 153, 163,0.8),
            0 3px 0 rgba(144, 153, 163, 0.4),
            0 0 6px rgba(0, 0, 0, 0.11),
            inset 0 3px 0 #fff;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.45);*/
    font-family: "Roboto Medium", serif;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;

        span {
            font-size: 24px;
            font-weight: bold;
            color: #3a3d42;
            font-family: "Roboto Medium", serif;
            text-shadow: 2px 2px 2px #fff;
            transition: 0.25s;
        }

        svg {
            width: 24px;
            fill: #ffffff;
            background: #34373b;
        }

        &:hover {
            span {
                color: #000;
            }
        }
    }

    nav {
        display: flex;
        gap: 6px;
        cursor: pointer;

        .link {
            display: flex;
            align-items: center;
            gap: 2px;
            padding: 8px 16px;
            transition: 0.25s;

            a {
                font-size: 15px;
                color: #52616B;
                font-family: "Roboto Medium", serif;
            }

            svg {
                width: 16px;
                fill: #52616B;
            }

            &:hover {
                background: rgba(86, 98, 106, 0.1);
                border-radius: 999px;
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .link.active {
            background: #4a5861;
            border-radius: 999px;
            transition: 0.25s;

            a  {
                color: #fdfdfd;
            }

            svg {
                fill: #fdfdfd;
            }

            &:hover {
                transition: 0.25s;
                background: #39434a;
            }
        }
    }

    .other-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        transition: 0.25s;
        border-radius: 6px;

        svg {
            width: 22px;
            fill: #333;
        }

        &:hover {
            background: rgba(86, 98, 106, 0.1);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}
